h1,
h3,
h5,
li,
p a {
  font-family: 'Public Sans', sans-serif;
  text-align: left;
  line-height: 1;
  color: #464141;
}

.App {
  margin: 18px auto;
  padding: 18px;
  padding-bottom: 2px;
  max-width: 450px;
  max-height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.993);
}

.footer-container {
  font-size: 14px;
  display: block;
  text-align: left;
  margin: 2px auto;
  padding-left: 10px;
  max-width: 450px;
  max-height: fit-content;
}

.github-link {
  text-decoration: none;
  color: #1776dc;
}

.linkedin-link {
  text-decoration: none;
  color: #464141;
}

.github-link:hover{
  text-decoration: underline;
  color: #1776dc;
  opacity: 0.9;
  cursor: pointer;
}

.linkedin-link:hover {
  text-decoration: underline;
  color: #464141;
  opacity: 0.9;
  cursor: pointer;
}
