h5,
li,
p {
  font-family: sans-serif;
  text-align: left;
  line-height: 1;
  color: #464141;
}

h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.75;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.fa-sun {
  padding: 8px;
  margin-left: 0;
  margin-right: 30px;
  font-size: 60px;
  width: 40px;
  color: #e0a800;
}

.data {
  margin-top:2px;
  margin-left:6px;
}

.local-temperature {
  padding: 8px;
  margin: 8px;
  font-size: 60px;
  font-weight: 400px;
}

.units {
  font-size: 14px;
  position: relative;
  top: -34px;
}  

.col-2,.col-1{
  margin-top: 30px;
}