.footer-container {
  font-size: 12px;
  margin: 2px auto;
  padding-left: 10px;
  max-width: 450px;
  max-height: fit-content;
}

.linkedin-link {
  text-decoration: none;
  color: #464141;
}

.linkedin-link:hover {
  text-decoration: underline;
  color: #464141;
  opacity: 0.9;
  cursor: pointer;
}
