h1,
h3{
  font-family: sans-serif;
  text-align: left;
  line-height: 1;
  color: #464141;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  margin: 14px 8px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
}

.innerContainer {
  margin: 10px;
  padding: 6px;
  max-width: 450px;
  max-height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.5);
}
  